*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: -webkit-flex;  /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left-menu{
    /* background-color: lemonchiffon; */
    width: 400px;
    height: auto;
    padding: 20px;
}
.main-content{
    /* background-color: aqua; */
    width: 1000px;
    height: auto;
    padding: 20px;
}
/* .right-side{
    background-color: violet;
    width: 300px;
    height: auto;
} */
@media (max-width: 768px) {
    .left-menu{
        /* width: 500px; */
        display: none;
    }
    .main-content{
        width: 100%;
    }
}

/* side bar */
.side-bar{border: 1px solid #ccc;width: 2.75rem; position: fixed;right: 2rem;bottom: 2rem;z-index: 999}
.side-bar a{
    text-decoration: none;color: #aaa;font-size: 1.25rem;width: 2.75rem;text-align: center;display: inline-block;
    padding: 0.5rem 0;
}
.side-bar a:hover{color: #ffffff;background-color: #999999}
.side-bar a:first-child{border-bottom: 1px solid #ccc}